$white: #ffffff
$color_masala: #3e313c
$color_blackcurrant: #372c36
$color_scarpa_flow: #555459
$color_star_dust: #9e9ea6
$color_shady_lady: #ab9ba9
$color_matterhorn: #4d394b
$color_mandy: #eb4d5c
$night: rgba(0, 0, 0, 0.2)
$color_smalt_blue: #4c9689
$color_jet_stream: #b2d5c9
$color_ship_gray: #3d3c40
$color_french_gray: #babbbf
$color_oslo_gray: #8b898f
$color_bon_jour: #e0e0e0

$main-font: Lato
$default-font: sans-serif

$avatar: url(http://findicons.com/icon/download/102283/fh02/300/png)

.reset
    margin: 0
    padding: 0
    border: 0
    font: inherit
    font-size: 100%
    vertical-align: baseline


.reset_2 
    text-align: left
    font-weight: normal
    vertical-align: middle

html 
    @extend .reset
    line-height: 1
    position: relative
    height: 100%
    font-size: 16px
    font-family: $main-font, $default-font

body 
    @extend .reset
    height: 100%
    width: 100%
    margin: 0
    padding-top: 53px
    padding-bottom: 64px

div 
    @extend .reset

span 
    @extend .reset

applet 
    @extend .reset

object 
    @extend .reset

iframe 
    @extend .reset

h1 
    @extend .reset

h2 
    @extend .reset

h3 
    @extend .reset

h4 
    @extend .reset

h5 
    @extend .reset

h6 
    @extend .reset

p 
    @extend .reset

blockquote 
    @extend .reset
    quotes: none
    &:before 
        content: ""
        content: none

    &:after 
        content: ""
        content: none


pre 
    @extend .reset

a 
    @extend .reset
    img 
        border: none


abbr 
    @extend .reset

acronym 
    @extend .reset

address 
    @extend .reset

big 
    @extend .reset

cite 
    @extend .reset

code 
    @extend .reset

del 
    @extend .reset

dfn 
    @extend .reset

em 
    @extend .reset

img 
    @extend .reset

ins 
    @extend .reset

kbd 
    @extend .reset

q 
    @extend .reset
    quotes: none
    &:before 
        content: ""
        content: none

    &:after 
        content: ""
        content: none


s 
    @extend .reset

samp 
    @extend .reset

small 
    @extend .reset

strike 
    @extend .reset

strong 
    @extend .reset

sub 
    @extend .reset

sup 
    @extend .reset

tt 
    @extend .reset

var 
    @extend .reset

b 
    @extend .reset

u 
    @extend .reset

i 
    @extend .reset

center 
    @extend .reset

dl 
    @extend .reset

dt 
    @extend .reset

dd 
    @extend .reset

ol 
    @extend .reset
    list-style: none

ul 
    @extend .reset
    list-style: none

li 
    @extend .reset

fieldset 
    @extend .reset

form 
    @extend .reset

label 
    @extend .reset

legend 
    @extend .reset

table 
    @extend .reset
    border-collapse: collapse
    border-spacing: 0

caption 
    @extend .reset
    @extend .reset_2

tbody 
    @extend .reset

tfoot 
    @extend .reset

thead 
    @extend .reset

tr 
    @extend .reset

th 
    @extend .reset
    @extend .reset_2

td 
    @extend .reset
    @extend .reset_2

article 
    @extend .reset
    display: block

aside 
    @extend .reset
    display: block

canvas 
    @extend .reset

details 
    @extend .reset
    display: block

embed 
    @extend .reset

figure 
    @extend .reset
    display: block

figcaption 
    @extend .reset
    display: block

footer 
    @extend .reset
    display: block

header 
    @extend .reset
    display: block

hgroup 
    @extend .reset
    display: block

menu 
    @extend .reset
    display: block

nav 
    @extend .reset
    display: block

output 
    @extend .reset

ruby 
    @extend .reset

section 
    @extend .reset
    display: block

summary 
    @extend .reset
    display: block

time 
    @extend .reset

mark 
    @extend .reset

audio 
    @extend .reset

video 
    @extend .reset

main 
    display: block

* 
    box-sizing: border-box

.header 
    position: fixed
    top: 0
    left: 0
    height: 53px
    width: 100%

.main 
    height: 100%

.footer 
    position: absolute
    left: 0
    bottom: 0
    height: 64px
    width: 100%

.team-menu 
    position: relative
    width: 220px
    height: 53px
    line-height: 53px
    font-weight: 900
    padding: 0 1rem
    color: $white
    background: $color_masala
    border-bottom: 2px solid $color_blackcurrant
    float: left
    cursor: pointer

.channel-menu_name 
    display: inline-block
    padding: 0 .5rem 0 1.5rem
    color: $color_scarpa_flow
    font-size: 1.4rem
    font-weight: 900
    line-height: 53px
    cursor: pointer

.channel-menu_prefix 
    color: $color_star_dust
    padding-right: .1rem
    font-weight: 500

.listings 
    height: 100%
    width: 220px
    float: left
    color: $color_shady_lady
    background-color: $color_matterhorn
    overflow-y: auto
    overflow-x: hidden

.message-history 
    margin-left: 220px
    overflow-y: auto
    overflow-x: hidden
    height: 100%
    padding: 0 18px 1rem 1.5rem
    overflow: scroll
    overflow-x: hidden

.listings_channels 
    margin: 1rem 0 2rem

.listings_header 
    text-align: left
    font-size: .8rem
    line-height: 1.25rem
    margin: 0 1rem .1rem
    text-transform: uppercase
    font-weight: 700
    color: $color_shady_lady
    width: 165px
    position: relative

.channel_list 
    list-style-type: none
    text-align: left
    color: $color_shady_lady

.channel 
    height: 24px
    line-height: 24px
    border-top-right-radius: 0.25rem
    border-bottom-right-radius: 0.25rem
    margin-right: 17px
    color: $white
    padding-left: 1rem
    &.active 
        background: $color_smalt_blue


.unread 
    color: $white
    background: $color_mandy
    border-radius: 9px
    padding: 2px 9px
    font-size: .8rem
    line-height: 14px
    font-weight: 700
    vertical-align: baseline
    white-space: nowrap
    text-shadow: 0 1px 0 $night
    float: right
    margin-right: 3px
    margin-top: 3px

.channel_prefix 
    color: $color_jet_stream

.disclaimer 
    font-size: 0.8rem
    padding-left: 1rem
    margin-right: 17px

.message 
    position: relative
    margin-top: .5rem
    padding: .25rem 2rem .1rem 3rem
    min-height: 36px

.message_profile-pic 
    position: absolute
    left: 0
    display: block
    border-radius: 0.2rem
    width: 36px
    height: 36px
    background-image: $avatar
    background-size: cover

.message_username 
    font-weight: 900
    padding-right: .25rem
    color: $color_ship_gray !important
    margin-left: 0
    font-style: normal
    text-decoration: none

.message_timestamp 
    text-align: left
    display: inline
    position: relative
    top: 0
    left: 0
    color: $color_french_gray
    font-size: 12px
    line-height: 1.2rem
    width: 36px
    margin-right: 0
    margin-left: 0

.message_content 
    color: $color_oslo_gray
    font-style: italic
    display: block
    min-height: 1rem

.user-menu 
    float: left
    width: 220px
    height: 100%
    cursor: pointer
    background: $color_masala
    border-top: 2px solid $color_blackcurrant
    padding: 7px 0 9px 8px
    height: 4rem
    position: fixed
    bottom: 0
    left: 0

.user-menu_profile-pic 
    display: inline-block
    float: left
    border-radius: 0.2rem
    width: 48px
    height: 48px
    background-image: $avatar
    background-size: cover
    margin-right: 8px

.user-menu_username 
    display: block
    color: $white
    font-weight: 900
    line-height: 1.5rem
    margin-top: .2rem
    max-width: 120px

.connection_icon 
    width: 12px
    height: 12px

.connection_status 
    color: $color_shady_lady

.input-box 
    height: 100%
    margin-left: 220px

.input-box_text 
    font-size: .95rem
    width: 90%
    margin-left: 2%
    margin-bottom: auto
    line-height: 1.2rem
    border: 2px solid $color_bon_jour
    border-radius: 0.2rem
    background-clip: padding-box
    color: $color_ship_gray
    box-shadow: none
    outline: 0
    bottom: 0
    min-height: 41px !important
    padding: 9px 5px 9px 8px